body {
    overflow: hidden;
}


.splash-screen {
    width: 100vw;
    height: 100vh;
    background-image: url('../Images/fullsplashscreen.png'); /* Adjust the path as needed */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width: 576px){
    .splash-screen{
        background-image: url('../Images/SplashScreen.png'); /* Adjust the path as needed */
    }
}
